.objetivos:before { 
                    content: "<h2>Objetivos</h2>"
 }

.objetivos { 
             padding: 40px 60px;
             border-radius: 10px;
             box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
             background-color: #FAF0E6;
             font-size: 2em;
             font-family: "Telex", sans-serif;
             color: #2f4f4f ;
             }